# custom
images/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (The most important part)
.venv/
venv/
env/
bin/
lib/
include/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
htmlcov/

# MyPy & Ruff caches
.mypy_cache/
.ruff_cache/

# Local environment variables (Security!)
.env

# OS-specific files
.DS_Store
Thumbs.db
